
/* Need to use 'Customize' in GoogleFonts and grab the weights too */
@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

/* Universal Box Sizing with Inheritance & Clearfix hacks I'll explain next class, but don't delete!! */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
}

* {
}
body {
	margin: 5px 50px 5px 50px;
	font-weight: 300;
	color: dimgrey;
}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
h1, h2, h3 { /* wasn't working before bc i had a comma after h3 */
	font-weight: 300;
}
h1 {
	margin-bottom: 0px;
	display: inline-block;
}
h1 a {
	color: tan;
	text-decoration: none;
}
header h2 {
	margin-bottom: 10px;
	display: inline-block;
	padding-left: 3%;
}

header nav {
	clear: both;
	/* -- USING INLINE-BLOCK --------------------*/
		width: 100%; 
		background: silver;
	}

header nav a {
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 0 1%; /* -- since padding-top doesn't render --- */

	/* -- USING INLINE-BLOCK	--------------------------- */
		display: inline-block;
		border-right: 1px solid white;
		width: 16%; 
		padding: 2% 1%;
		}
		header nav a:last-child {
			border-right: none;
		} 
	/* -- USING FLOATS (uncomment div'd nav) 
		.menu {
			width: 16%;
			background: silver;
			padding: 2% 0;
			float: left;
			border-right: 2px solid white;
		}
		.centered { 
			width: 45%;
			margin: 0 auto;
		} (centered as close as possible) 
	-------------------------------- */

h3 {
	color: silver;
	margin: 30px 0px 5px 0px;
	font-size: 25px;
}
h2 {
	margin: 0px 0px 20px 0px;
}
article h2 a {
	text-decoration: none;
	color: black;
}
.main {
	float: left;
	width: 60%;
}
article p:first-letter {
	font-size: 100px;
	float: left;
	padding: 30px 20px 20px 0px;
	color: silver;
}
article p {
	line-height: 24px;
}
h4 {
	text-align: right;
}
h4 a {
	color: tan;
	text-decoration: none;
}
article {
	border-bottom: 1px solid silver;
}
img {
	width: 100%;
}
.sidebar {
	float: left;
	width: 40%;
	padding: 3%;
}
.sidebar h4 {
	text-align: left;
}
.sidebar p a {
	color: tan;
	text-decoration: none;
}
.more {
	text-align: right;
	font-weight: normal;
}
.sidebar li a {
	color: tan;
	text-decoration: none;
}
.sidebar li {
    list-style: none;
}
.sidebar li:before { /* color of bullets*/
    content: "• ";
    color: silver; 
}
.sidebar ul {
	    padding-left: 3%;
}
.ad {
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
	padding: 10% 0;
}
.ad:before, .ad:after { /* -------------- this didn't work 
	border-bottom: 1px solid silver;
	padding: 3%;  ------- */
}
footer a { /* if i add nav to selectors, it doesn't work? */
	text-decoration: none;
	color: tan;
	border-right: 1px solid dimgrey;
	padding-right: 5px;
}
footer {
	clear: both;
	/* adding border around all elements helped me figure out the margin problem --*/
	margin: 7% 0 3% 0;
	display: inline-block; /*-- WHY DID I NEED THIS FOR MARGINS TO APPLY?  isn't a footer just a div and not inline?  --*/
}
footer nav a:last-child { /*-- adding a top margin doesn't work here because i'm selecting the a tag which is an inline element --*/
	border-right: none;
}
footer p {
	margin-bottom: 0;
}


